.row div {
  border: 1px solid darkorange;
  outline: 1px solid darkorange;
  width: 55px;
  height: 55px;
  display: inline-block;
}

h1, h2{
  color:yellow;
}

.gameBoard {
  display: inline-block;
}

.spaceCol {
  display: inline-block;
  width:30px;
}

.row {
  margin: 0;
}

.background {
  background-image: url('images/background.jpg');
}

.docked {
  width: 570px;
  height: 70px;
  border: 3px solid green;
  display: block;
}

.block {
  display: inline-block;
  font-size: 20px;
  color:yellow;
}

.miss {
  /*background-color: white;*/
  background-image: url('images/miss.png');
  background-size: 50px;
}

.hit {
  /*background-color: red;*/
  background-image: url('images/blast.png');
  background-size: 50px;
}

.shipIsHere {
  /*background-color: blueviolet;*/
  background-image: url('images/rocket3.png');
  background-size: 55px;
}
.done {
  display: none;
}